#registry-form {
  display: none; 
}

table {
  margin: 1rem 0;
  width: 70% !important;
  min-width: 45rem !important;
}

form label {
  padding-top: 0.3rem;
  font-weight: 800;
  text-align: right;
}

#registry-form {
  width: 50% !important; 
}

.input-group {
  width: 20rem; 
}

#itemCount {
  width: 20rem; 
}

#itemLoc {
  width: 50rem; 
}



